# Visual Studio temporary folders
**/.vs
**/obj
**/bin
**/build
**/output
**/x64
**/Debug

# CMake temporary folders
**/CMakeFiles

# Temporary files
*.user
*.tmp
*.bak
*.pdb
*.obj
*.log
